<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">

        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header }}
            <p> This app was created by Shivam Mulewa , it uses data from weatherapi.com</p>
            <img class="portrait" src="/img/profile.jpg">
        </div>
       
        {{>footer }}

    </body>
</html>